<?xml version="1.0" encoding="utf-8"?>
<config>
	<fieldset name="BASIC" label="COM_JTG_BASIC_CONFIGURATION">
		<field name="jtg_param_default_cat" type="sql"
			addfieldpath="/administrator/components/com_jtg/elements" default="10"
			label="COM_JTG_MENU_DEFAULT_CAT"
			query="SELECT id, title FROM #__jtg_cats WHERE published=1"
			key_field="id"
			value_field="title"
			translate="true"
		/>
		<field name="jtg_param_use_cats" type="radio"
			addfieldpath="/administrator/components/com_jtg/elements" default="1"
			label="COM_JTG_MENU_USE_CATS" description="COM_JTG_TT_MENU_USE_CATS">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="jtg_param_disable_terrains" addfieldpath="/administrator/components/com_jtg/elements"
			type="radio" default="O" label="COM_JTG_MENU_DISABLE_TERRAINS">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		<field name="jtg_param_display_jtg_credits" type="radio"
			addfieldpath="/administrator/components/com_jtg/elements" default="1"
			label="COM_JTG_MENU_SHOW_JTRACKGALLERY_CREDIT" description="COM_JTG_TT_MENU_SHOW_JTRACKGALLERY_CREDIT">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field type="spacer" name="myspacer1" class="text"
			label="COM_JTG_MENUSPACER_APPEARANCE" />
		<field name="jtg_param_lh" type="radio"
			addfieldpath="/administrator/components/com_jtg/elements" default="1"
			label="COM_JTG_MENU_LH" description="COM_JTG_TT_MENU_LH">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		<field name="jtg_param_otherfiles" type="radio"
			addfieldpath="/administrator/components/com_jtg/elements" default="0"
			label="COM_JTG_MENU_RESTRICTEDFILES" description="COM_JTG_TT_MENU_RESTRICTEDFILES">
			<option value="0">JNO</option>
			<option value="1">COM_JTG_REGISTERED</option>
			<option value="2">COM_JTG_PRIVATE</option>
		</field>
		<field name="jtg_param_use_map_autocentering" addfieldpath="/administrator/components/com_jtg/elements"
			type="radio" default="1" label="COM_JTG_MENU_USE_MAP_AUTOCENTERING"
			description="COM_JTG_TT_MENU_USE_MAP_AUTOCENTERING">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		<field name="jtg_param_elevation_filter_min_ascent" type="text"
			addfieldpath="/administrator/components/com_jtg/elements" default="10"
			size="3" label="COM_JTG_MENU_ELEVATION_FILTER_MIN_ASCENT" description="COM_JTG_TT_MENU_ELEVATION_FILTER_MIN_ASCENT">
		</field>
		<field name="jtg_param_show_panzoombar" type="radio"
			addfieldpath="/administrator/components/com_jtg/elements" default="1"
			label="COM_JTG_MENU_SHOW_PANZOOMBAR" description="COM_JTG_TT_MENU_SHOW_PANZOOMBAR">
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>
		<field name="jtg_param_show_mouselocation" type="radio"
			addfieldpath="/administrator/components/com_jtg/elements" default="1"
			label="COM_JTG_MENU_SHOW_MOUSELOCATION" description="COM_JTG_TT_MENU_SHOW_MOUSELOCATION">
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>
		<field name="jtg_param_show_scale" type="radio"
			addfieldpath="/administrator/components/com_jtg/elements" default="1"
			label="COM_JTG_MENU_SHOW_SCALE" description="COM_JTG_TT_MENU_SHOW_SCALE">
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>
		<field name="jtg_param_allow_mousemove" type="radio"
			addfieldpath="/administrator/components/com_jtg/elements" default="1"
			label="COM_JTG_MENU_ALLOW_MOUSEMOVE" description="COM_JTG_TT_MENU_ALLOW_MOUSEMOVE">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="jtg_param_allow_keymove" type="radio"
			addfieldpath="/administrator/components/com_jtg/elements" default="0"
			label="COM_JTG_MENU_ALLOW_KEYMOVE" description="COM_JTG_TT_MENU_ALLOW_KEYMOVE">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field type="spacer" name="myspacer1b" class="text"
			label="COM_JTG_MENUSPACER_UPLOAD_NOTIFY" />
		<field name="upload_notify_uid" type="user"
			label="COM_JTG_UPLOAD_NOTIFY_UID" default="0" />
	</fieldset>
	<fieldset name="TRACKVIEW" label="COM_JTG_TRACK_VIEW">
		<field name="jtg_param_track_color" type="color" default="FF00FF"
			label="COM_JTG_MENU_TRACK_COLOR" />
		<field name="jtg_param_show_dist_markers" type="radio"
			default="1"
			label="COM_JTG_MENU_SHOW_DISTMARKERS">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="jtg_param_show_layerswitcher" type="radio"
			addfieldpath="/administrator/components/com_jtg/elements" default="1"
			label="COM_JTG_MENU_SHOW_LAYER_SWITCHER" description="COM_JTG_TT_MENU_SHOW_LAYER_SWITCHER">
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>
		<field name="jtg_param_show_speedchart" addfieldpath="/administrator/components/com_jtg/elements"
			type="radio" default="1" label="COM_JTG_MENU_SHOW_SPEEDCHART"
			description="COM_JTG_TT_MENU_SHOW_SPEEDCHART">
			<option value="1">COM_JTG_AUTOMATIC</option>
			<option value="0">JHIDE</option>
		</field>
		<field name="jtg_param_show_heightchart" type="radio"
			addfieldpath="/administrator/components/com_jtg/elements" default="1"
			label="COM_JTG_MENU_SHOW_HEIGHTCHART" description="COM_JTG_TT_MENU_SHOW_HEIGHTCHART">
			<option value="1">COM_JTG_AUTOMATIC</option>
			<option value="0">JHIDE</option>
		</field>
		<field name="jtg_param_add_startmarker" addfieldpath="/administrator/components/com_jtg/elements"
			type="radio" default="1" label="COM_JTG_CONF_ADD_STARTMARKER"
			description="COM_JTG_CONF_ADD_STARTMARKER_DESC">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		<field name="jtg_param_disable_map_animated_cursor" addfieldpath="/administrator/components/com_jtg/elements"
			type="radio" default="O" label="COM_JTG_MENU_DISABLE_MAP_ANIMATED_CURSOR"
			description="COM_JTG_TT_MENU_DISABLE_MAP_ANIMATED_CURSOR">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		<field name="jtg_param_hide_track_info" type="radio"
			addfieldpath="/administrator/components/com_jtg/elements" default="0"
			label="COM_JTG_MENU_HIDE_TRACKINFO" description="COM_JTG_TT_MENU_HIDE_TRACKINFO">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		<field name="jtg_param_info_fields" type="checkboxes" label="COM_JTG_MENU_INFO_FIELDS" description="COM_JTG_TT_MENU_INFO_FIELDS" default="dist,ele,time,speed">
			<option value="dist">COM_JTG_DISTANCE</option>
			<option value="ele">COM_JTG_ELEVATION</option>
			<option value="time">COM_JTG_DURATION</option>
			<option value="speed">COM_JTG_AVGSPEED</option>
			<option value="owner">COM_JTG_OWNER</option>
			<option value="date">COM_JTG_DATE</option>
			<option value="hits">COM_JTG_HITS</option>
		</field>
		<field name="jtg_param_show_durationcalc" type="radio"
			addfieldpath="/administrator/components/com_jtg/elements" default="1"
			label="COM_JTG_MENU_SHOW_DURATIONCALC" description="COM_JTG_TT_MENU_SHOW_DURATIONCALC">
			<option value="1">COM_JTG_AUTOMATIC</option>
			<option value="0">JHIDE</option>
		</field>
		<field name="jtg_param_show_plugin_button" type="radio"
			default="1"
			label="COM_JTG_MENU_SHOW_PLUGIN_BUTTON" description="COM_JTG_TT_MENU_SHOW_PLUGIN_BUTTON">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		<field type="spacer" name="myspacer2" class="text"
			label="COM_JTG_MENUSPACER_DOWNLOAD" />
		<field name="jtg_param_offer_download_original" type="radio"
			addfieldpath="/administrator/components/com_jtg/elements" default="1"
			label="COM_JTG_MENU_OFFER_DL_ORIGINAL" description="COM_JTG_TT_MENU_OFFER_DL_ORIGINAL">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="jtg_param_offer_download_gpx" type="radio"
			addfieldpath="/administrator/components/com_jtg/elements" default="1"
			label="COM_JTG_MENU_OFFER_DL_GPX" description="COM_JTG_TT_MENU_OFFER_DL_GPX">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="jtg_param_offer_download_kml" type="radio"
			addfieldpath="/administrator/components/com_jtg/elements" default="1"
			label="COM_JTG_MENU_OFFER_DL_KML" description="COM_JTG_TT_MENU_OFFER_DL_KML">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="jtg_param_offer_download_tcx" type="radio"
			addfieldpath="/administrator/components/com_jtg/elements" default="1"
			label="COM_JTG_MENU_OFFER_DL_TCX" description="COM_JTG_TT_MENU_OFFER_DL_TCX">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
	</fieldset>
	<fieldset name="OVERVIEW" label="COM_JTG_OVERVIEW">
		<field name="jtg_overview_geoloc" type="checkbox"
			label="COM_JTG_CENTER_GEOLOC" description="COM_JTG_CENTER_GEOLOC_DESC" />
		<field name="map_zoom" type="number"
			default="6" min="0" max="28"
			label="COM_JTG_MENU_DEFAULT_ZOOM" />
		<field name="jtg_param_icon_loc" type="list"
			default="0" label="COM_JTG_MENU_ICON_LOC">
			<option value="0">COM_JTG_STARTPOINT</option>
			<option value="1">COM_JTG_ENDPOINT</option>
			<option value="2">COM_JTG_MIDPOINT</option>
		</field>
		<field name="jtg_param_overview_filterbox" type="radio" default="1" label="COM_JTG_FILTERBOX">
			<option value="1">JSHOW</option>
			<option value="0">JHIDE</option>
		</field>
		<field name="jtg_param_newest" type="text"
			addfieldpath="/administrator/components/com_jtg/elements" default="10"
			size="3" label="COM_JTG_MENU_NEWEST" description="COM_JTG_TT_MENU_NEWEST" />
		<field name="jtg_param_mostklicks" type="text"
			addfieldpath="/administrator/components/com_jtg/elements" default="10"
			size="3" label="COM_JTG_MENU_HITS" description="COM_JTG_TT_MENU_HITS" />
		<field name="jtg_param_best" type="text"
			addfieldpath="/administrator/components/com_jtg/elements" default="0"
			size="3" label="COM_JTG_MENU_BEST" description="COM_JTG_TT_MENU_BEST" />
		<field name="jtg_param_rand" type="text"
			addfieldpath="/administrator/components/com_jtg/elements" default="0"
			size="3" label="COM_JTG_MENU_RANDOM" description="COM_JTG_TT_MENU_RANDOM" />
		<field name="jtg_param_vote_show_stars" addfieldpath="/administrator/components/com_jtg/elements"
			type="radio" default="0" label="COM_JTG_MENU_VOTE_SHOW_STARS"
			description="COM_JTG_TT_MENU_SHOW_STARS">
			<option value="1">JSHOW</option>
			<option value="0">JHIDE</option>
		</field>
		<field type="spacer" name="myspacer3" class="text"
			label="COM_JTG_MENUSPACER_PERFORMANCE" />
		<field name="jtg_param_tracks" type="radio"
			addfieldpath="/administrator/components/com_jtg/elements" default="0"
			label="COM_JTG_MENU_TRACKS" description="COM_JTG_TT_MENU_TRACKS">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		<field name="jtg_param_track_colors_1" type="color" default="1764F5"
			label="COM_JTG_MENU_TRACK_COLOR" showon="jtg_param_tracks:1" />
		<field name="jtg_param_track_colors_2" type="color" default="F82832"
			label="COM_JTG_MENU_TRACK_COLOR" showon="jtg_param_tracks:1" />
		<field name="jtg_param_track_colors_3" type="color" default="32B805"
			label="COM_JTG_MENU_TRACK_COLOR" showon="jtg_param_tracks:1" />
		<field name="jtg_param_track_colors_4" type="color" default="DF1BF5"
			label="COM_JTG_MENU_TRACK_COLOR" showon="jtg_param_tracks:1" />
		<field type="spacer" name="myspacer4" class="text"
			label="COM_JTG_MENUSPACER_DPCAL_INTEGRATION" />
		<field name="dpcallocs_overview" type="radio" default="0"
			label="COM_JTG_MENU_DPCAL_OVERVIEW">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		<field name="intro_text_overview" type="editor" label="COM_JTG_TT_INTRO_TEXT_OVERVIEW" description="COM_JTG_TT_INTRO_TEXT_OVERVIEW_DESCRIPTION" width="300" filter="safehtml" />
	</fieldset>
	<fieldset name="TRACKLIST" label="COM_JTG_TT_TRACKS_LIST">
		<field name="jtg_param_list_filterbox" type="radio" default="1" label="COM_JTG_FILTERBOX">
			<option value="1">JSHOW</option>
			<option value="0">JHIDE</option>
		</field>
		<field name="jtg_param_track_ordering" type="list"
			addfieldpath="/administrator/components/com_jtg/elements" default="1"
			label="COM_JTG_MENU_TRACK_ORDERING" description="COM_JTG_TT_TRACK_ORDERING">
			<option value="none">JNONE</option>
			<option value="title_a">COM_JTG_TRACK_ORDER_TITLE_A</option>
			<option value="title_d">COM_JTG_TRACK_ORDER_TITLE_D</option>
			<option value="level_a">COM_JTG_TRACK_ORDER_LEVEL_A</option>
			<option value="level_d">COM_JTG_TRACK_ORDER_LEVEL_D</option>
			<option value="title_a_catid_a">COM_JTG_TRACK_ORDER_TITLE_A_CATID_A</option>
			<option value="title_a_catid_d">COM_JTG_TRACK_ORDER_TITLE_A_CATID_D</option>
			<option value="title_d_catid_a">COM_JTG_TRACK_ORDER_TITLE_D_CATID_A</option>
			<option value="title_d_catid_d">COM_JTG_TRACK_ORDER_TITLE_D_CATID_D</option>
			<option value="hits_a">COM_JTG_TRACK_ORDER_HITS_A</option>
			<option value="hits_d">COM_JTG_TRACK_ORDER_HITS_D</option>
			<option value="catid_a">COM_JTG_TRACK_ORDER_CATID_A</option>
			<option value="catid_d">COM_JTG_TRACK_ORDER_CATID_D</option>
		</field>
		<field name="jtg_param_list_icon_max_height" type="text"
			addfieldpath="/administrator/components/com_jtg/elements" default="24"
			size="3" label="COM_JTG_LIST_ICON_MAX_HEIGHT" description="COM_JTG_TT_LIST_ICON_MAX_HEIGHT" />
		<field name="jtg_param_tracks_list_hide_users" type="radio"
			addfieldpath="/administrator/components/com_jtg/elements" default="0"
			label="COM_JTG_LIST_HIDE_USERS" description="COM_JTG_TT_LIST_HIDE_USERS">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		<field name="jtg_param_tracks_list_hide_hits" type="radio"
			addfieldpath="/administrator/components/com_jtg/elements" default="0"
			label="COM_JTG_LIST_HIDE_HITS" description="COM_JTG_TT_LIST_HIDE_HITS">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		<field name="jtg_param_tracks_list_hide_icon_category" type="radio"
			addfieldpath="/administrator/components/com_jtg/elements" default="0"
			label="COM_JTG_LIST_HIDE_ICON_CATEGORY" description="COM_JTG_TT_LIST_HIDE_ICON_CATEGORY">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		<field name="jtg_param_tracks_list_hide_icon_istrack" type="radio"
			addfieldpath="/administrator/components/com_jtg/elements" default="0"
			label="COM_JTG_LIST_HIDE_ICON_ISTRACK" description="COM_JTG_TT_LIST_ICON_ISTRACK">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		<field name="jtg_param_tracks_list_hide_icon_isroundtrip" type="radio"
			addfieldpath="/administrator/components/com_jtg/elements" default="0"
			label="COM_JTG_LIST_HIDE_ICON_ISROUNDTRIP" description="COM_JTG_TT_LIST_HIDE_ICON_ISROUNDTRIP">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		<field name="jtg_param_tracks_list_hide_icon_is_wp" type="radio"
			addfieldpath="/administrator/components/com_jtg/elements" default="0"
			label="COM_JTG_LIST_HIDE_ICON_ISWP" description="COM_JTG_TT_LIST_HIDE_ICON_ISWP">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		<field name="jtg_param_tracks_list_hide_icon_isgeocache" type="radio"
			addfieldpath="/administrator/components/com_jtg/elements" default="0"
			label="COM_JTG_LIST_HIDE_ICON_ISGEOCACHE" description="COM_JTG_TT_LIST_HIDE_ICON_ISGEOCACHE">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
	</fieldset>
	<fieldset name="CATEGRORY" label="COM_JTG_MENU_CAT_VIEW">
		<field name="jtg_param_cat_show_map" type="radio" default="1" label="COM_JTG_SHOW_MAP">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		<field name="jtg_param_cat_show_list" type="radio" default="1" label="COM_JTG_SHOW_LIST">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		<field name="jtg_param_cat_filterbox" type="radio" default="1" label="COM_JTG_FILTERBOX">
			<option value="1">JSHOW</option>
			<option value="0">JHIDE</option>
		</field>
	</fieldset>
	<fieldset name="LIMIT" label="COM_JTG_TT_MENU_LIMIT">
		<field type="spacer" addfieldpath="/administrator/components/com_jtg/elements" />
		<field type="spacer" name="myspacer5" class="text"
			label="COM_JTG_MENUSPACER_LIMITS" />
		<field name="jtg_param_level_from" type="ownlist"
			addfieldpath="/administrator/components/com_jtg/elements" label="COM_JTG_MENU_LEVEL_FROM"
			description="COM_JTG_TT_MENU_LIMIT_LEVEL" />
		<field name="jtg_param_level_to" type="ownlist"
			addfieldpath="/administrator/components/com_jtg/elements" label="COM_JTG_MENU_LEVEL_TO"
			description="COM_JTG_TT_MENU_LIMIT_LEVEL" />
		<field name="jtg_param_vote_from" type="ownlist"
			addfieldpath="/administrator/components/com_jtg/elements" label="COM_JTG_MENU_VOTE_FROM"
			description="COM_JTG_TT_MENU_LIMIT_VOTE" />
		<field name="jtg_param_vote_to" type="ownlist"
			addfieldpath="/administrator/components/com_jtg/elements" label="COM_JTG_MENU_VOTE_TO"
			description="COM_JTG_TT_MENU_LIMIT_VOTE" />
	</fieldset>
	<fieldset name="permissions" label="JCONFIG_PERMISSIONS_LABEL"
		description="JCONFIG_PERMISSIONS_DESC">

		<field name="rules" type="rules" label="JCONFIG_PERMISSIONS_LABEL"
			filter="rules" validate="rules" component="com_jtg" section="component" />
	</fieldset>
</config>


